.hs{
    border-radius: 25px;
    width: 200;
    height: 100;
    color: rgb(17, 120, 188);
    margin: 50;
    font-size: 60;
}

.ms{
    border-radius: 25px;
    width: 200;
    height: 100;
    color: rgb(17, 120, 188);
    margin: 50;
    font-size: 60;
}

.b{
    border-radius: 25px;
    width: 200;
    height: 100;
    color: rgb(17, 120, 188);
    margin: 50;
    font-size: 60;
}

.g{
    border-radius: 25px;
    width: 200;
    height: 100;
    color: rgb(17, 120, 188);
    margin: 50;
    font-size: 60;
}

.phd{
    border-radius: 25px;
    width: 200;
    height: 100;
    color: rgb(17, 120, 188);
    margin: 50;
    font-size: 60;
}