.questionText{
    font-size: 40;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(27, 65, 27);

}

.mainPage{
    background-color: rgba(231, 206, 97, 0.667);
}







.hs{
    border-radius: 25px;
    width: 300;
    height: 200;
    color: rgb(17, 120, 188);
    margin: 40;
    font-size: 60;
}

.ms{
    border-radius: 25px;
    width: 300;
    height: 200;
    color: rgb(17, 120, 188);
    margin: 40;
    font-size: 60;
}

.b{
    border-radius: 25px;
    width: 300;
    height: 200;
    color: rgb(17, 120, 188);
    margin: 40;
    font-size: 60;
}

.g{
    border-radius: 25px;
    width: 300;
    height: 200;
    color: rgb(17, 120, 188);
    margin: 40;
    font-size: 60;
}

.phd{
    border-radius: 25px;
    width: 300;
    height: 200;
    color: rgb(17, 120, 188);
    margin: 40;
    font-size: 60;
}

.y1{
    border-radius: 25px;
    width: 300;
    height: 200;
    color: rgb(17, 120, 188);
    margin: 40;
    font-size: 60;
}

.y2{
    border-radius: 25px;
    width: 300;
    height: 200;
    color: rgb(17, 120, 188);
    margin: 40;
    font-size: 60;
}

.y3{
    border-radius: 25px;
    width: 300;
    height: 200;
    color: rgb(17, 120, 188);
    margin: 40;
    font-size: 60;
}