.resourcesBackground{
    background-color:rgba(231, 206, 97, 0.667);
}
.titleTxt{
    font-size: 30;
    color:cornflowerblue;
}
.otherTxt{
    font-size: 23;
}
.imageSize{
    width: 450;
    height: 300;
}

footer {
    background-color: white;
    color: black;
    bottom: 0;
    width: 100vw;
    font-size: 16px;
  }
  footer * {
    box-sizing: border-box;
    border: none;
    outline: none;
  }