.headingTitle{
    color:black;
    text-align: center;
    font-size: 55;
}

.questionText{
    color: green;
    font-size: 40;
    
}

.bobsText{
    color:cadetblue;
    font-size: 35;
}

.buttonY1{
    border-radius: 25px;
    width: 200;
    height: 100;
    color: green;
    margin: 50;
    font-size: 60;
}

.buttonN1{
    border-radius: 25px;
    width: 200;
    height: 100;
    color: red;
    margin: 50;
    font-size: 60;
   }

.buttonY2{
    border-radius: 25px;
    width: 200;
    height: 100;
    color: green;
    margin: 50;
    font-size: 60;
}

.buttonN2{
    border-radius: 25px;
    width: 200;
    height: 100;
    color: red;
    margin: 50;
    font-size: 60;
}
.buttonY3{
    border-radius: 25px;
    width: 200;
    height: 100;
    color: green;
    margin: 50;
    font-size: 60;
}
    
.buttonN3{
    border-radius: 25px;
    width: 200;
    height: 100;
    color: red;
    margin: 50;
    font-size: 60;
}
.buttonY4{
    border-radius: 25px;
    width: 200;
    height: 100;
    color: green;
    margin: 50;
    font-size: 60;
}
        
.buttonN4{
    border-radius: 25px;
    width: 200;
    height: 100;
    color: red;
    margin: 50;
    font-size: 60;
    }
.buttonY5{
    border-radius: 25px;
    width: 200;
    height: 100;
    color: green;
    margin: 50;
    font-size: 60;
}
            
.buttonN5{
    border-radius: 25px;
    width: 200;
    height: 100;
    color: red;
    margin: 50;
    font-size: 60;
}

   .buttonFinished{

    border-radius: 25px;
    width: 400;
    height: 200;
       color: teal;
       mARGIN: 50;
       font-size: 60;
       text-align: center;
   }

   .safeResult{
    color: green;
    font-size: 60;

}
    .unsafeResult{
        color: red;
        font-size: 60;
    }

    .midsafeResult{
        color:gold;
        font-size: 60;
    }

    .firstpageimage{
        width: 500;
        height: 500;
    }

    .mainPage{
        background-color:rgba(231, 206, 97, 0.667);
    }
    .firstPageTxt{
        font-size: 30;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        
    }

    .linkToQuestions{
        float: right ;
        margin: 150;
        font-size: 20
    }





