.headingTitle{
    color:black;
    text-align: center;
    font-size: 55;
    border-style: solid;
}

.questionText{
    color: green;
    font-size: 42;
    
}

.bobsText{
    color:cadetblue;
    font-size: 35;
}

.buttonY1{
    border-radius: 25px;
    width: 200;
    height: 100;
    color: green;
    margin: 50;
    font-size: 60;
}

.buttonN1{
    border-radius: 25px;
    width: 200;
    height: 100;
    color: red;
    margin: 50;
    font-size: 60;
   }

.buttonY2{
    border-radius: 25px;
    width: 200;
    height: 100;
    color: green;
    margin: 50;
    font-size: 60;
}

.buttonN2{
    border-radius: 25px;
    width: 200;
    height: 100;
    color: red;
    margin: 50;
    font-size: 60;
}
.buttonY3{
    border-radius: 25px;
    width: 200;
    height: 100;
    color: green;
    margin: 50;
    font-size: 60;
}
    
.buttonN3{
    border-radius: 25px;
    width: 200;
    height: 100;
    color: red;
    margin: 50;
    font-size: 60;
}
.buttonY4{
    border-radius: 25px;
    width: 200;
    height: 100;
    color: green;
    margin: 50;
    font-size: 60;
}
        
.buttonN4{
    border-radius: 25px;
    width: 200;
    height: 100;
    color: red;
    margin: 50;
    font-size: 60;
    }
.buttonY5{
    border-radius: 25px;
    width: 200;
    height: 100;
    color: green;
    margin: 50;
    font-size: 60;
}
            
.buttonN5{
    border-radius: 25px;
    width: 200;
    height: 100;
    color: red;
    margin: 50;
    font-size: 60;
}

   .buttonFinished{

    border-radius: 25px;
    width: 300;
    height: 200;
       color: teal;
       mARGIN: 50;
       font-size: 60;
       text-align: center;
   }

   .safeResult{
    color: green;
    font-size: 60;

}
    .unsafeResult{
        color: red;
        font-size: 60;
    }

    .midsafeResult{
        color:rgb(248, 239, 188);
        font-size: 60;
    }

    .firstpageimage{
        width: 500;
        height: 500;
        display: block;
        margin-left: auto;
        margin-right: auto;
        
    }

    .mainPage{
        background-color:rgba(231, 206, 97, 0.667);
    }
    .firstPageTxt{
        font-size: 32;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        
    }

    .linkToQuestions{
        text-align: center;
        margin: 30;
        font-size: 40;
        display: block;
        
    }

    .safePage{
        background-color: rgb(135, 207, 137);
    }
    .midsafePage{
        background-color: rgb(190, 196, 151);
    }
    .unsafePage{
        background-color: rgb(225, 157, 150);
    }
    .survivalTxt1{
        font-size: 40;
        color:cornflowerblue;
    }
    .survivalTxt2{
        font-size: 30;
        color:blueviolet;
    }

.vac1{
    font-size: 20;
    color: rgb(0, 166, 255);
    margin: 20;
}

.vac2{
    font-size: 20;
    color: rgb(0, 166, 255);
    margin: 20;
}

.vac3{
    font-size: 20;
    color: rgb(0, 166, 255);
    margin: 20;
}

.vac4{
    font-size: 20;
    color: rgb(0, 166, 255);
    margin: 20;
}

.resultText{
    font-size: 50;
    color: red;
    
}

.errorText{
    font-size: 40;
    color: red;
    float: center;
    margin: 10;
}



.flex-container {
    display: flex;
    
}

.flex-child {
    flex: 1;
    
    
}  
footer {
    background-color: white;
    color: black;
    bottom: 0;
    width: 100vw;
    font-size: 16px;
  }
  footer * {
    box-sizing: border-box;
    border: none;
    outline: none;
  }

.flex-child:first-child {
    margin-right: 20px;
    
} 


