.headingTitle{
    color: blue;
    text-align: center;
    font-size: 50;
}

.questionText{
    color: green;
    font-size: 40;
    
}

.bobsText{
    color:cadetblue;
    font-size: 35;
}

.buttonY1{
 width: 200;
 height: 100;
    color: green;
    mARGIN: 50;
    font-size: 60;
}

.buttonN1{
    width: 200;
    height: 100;
       color: red;
       mARGIN: 50;
       font-size: 60;
   }

   .buttonY2{
    width: 200;
    height: 100;
       color: green;
       mARGIN: 50;
       font-size: 60;
   }
   
   .buttonN2{
       width: 200;
       height: 100;
          color: red;
          mARGIN: 50;
          font-size: 60;
      }
      .buttonY3{
        width: 200;
        height: 100;
           color: green;
           mARGIN: 50;
           font-size: 60;
       }
       
       .buttonN3{
           width: 200;
           height: 100;
              color: red;
              mARGIN: 50;
              font-size: 60;
          }
          .buttonY4{
            width: 200;
            height: 100;
               color: green;
               mARGIN: 50;
               font-size: 60;
           }
           
           .buttonN4{
               width: 200;
               height: 100;
                  color: red;
                  mARGIN: 50;
                  font-size: 60;
              }
              .buttonY5{
                width: 200;
                height: 100;
                   color: green;
                   mARGIN: 50;
                   font-size: 60;
               }
               
               .buttonN5{
                   width: 200;
                   height: 100;
                      color: red;
                      mARGIN: 50;
                      font-size: 60;
                  }

   .buttonFinished{

    width: 400;
    height: 200;
       color: teal;
       mARGIN: 50;
       font-size: 60;
       text-align: center;
   }

   .safeResult{
    color: green;
    font-size: 60;

}
    .unsafeResult{
        color: red;
        font-size: 60;
    }

    .midsafeResult{
        color:gold;
        font-size: 60;
    }

    .firstpageimage{
        width: 500;
        height: 500;
    }





